# Backups
BELI@*
~$*
reste_a_faire.zip
temp_reste/

# OS files
.DS_Store
Thumbs.db

# Netlify
.netlify/
stripe_backup_code.txt
node_modules/
_site/
_backup/
d_origine/
Documents/
FILE2/
PROMPT/
Ce qui reste bloquant.md
Diagnostic de votre situation actuelle.md
Voici la balise Google pour ce comp.md
SearchText*id=adminToggle*in aed.txt
CLAUDE.md
AED_Congo_QA_Report-_1_.doc
rapport-*.md
reste a faire .md
